# data files
youtube_videos.tsv
6YearPredictionMSD_with_header.csv
8data.txt
8household_power_consumption.csv
7ethylene_methane_with_header.csv
ethylene_CO.txt
ethylene_methane.txt
1_percent.csv
ss_100k.csv
store_sales.csv
web_sales.csv
time_dim.csv
web_page.csv
ws_100k.csv
ss_5m.csv
5m.csv
ss_1m_group.csv
*.pyc
*.log
*.DBEst

# data directories
.idea/
results/
notebook/
data/tpcds5m/
transfer/
data/

build/
dist/
dbest.egg-info/



