# data files
youtube_videos.tsv
6YearPredictionMSD_with_header.csv
8data.txt
8household_power_consumption.csv
7ethylene_methane_with_header.csv
ethylene_CO.txt
ethylene_methane.txt
1_percent.csv
ss_100k.csv
time_dim.csv
web_page.csv
ws_100k.csv
ss_5m.csv
CRegressionRDBM
CRegressionRDBM.sublime-project
CRegressionRDBM.sublime-workspace
*.pyc
*.log
*.ipynb
.idea
.idea/workspace.xml
creg/*.pyc
results/deletable.log
notebook/
**/*.ipynb
transfer/
